{% extends 'admin/base.html.twig' %}

{% block title 'Recettes' %}

{% block body %}

    <h1>Liste des recettes</h1>
    <a class="btn btn-primary " href="{{ path('admin.recipe.create') }}">Add</a>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%  for recipe in recipes %}
                <tr>
                    <td>
                        <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">{{ recipe.title }}</a>
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                              <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                                <input type="hidden" name="_method" value="Delete">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
{% endblock %}
